:root {
  --Slider-container-width: 60vw;
  --Slider-container-height: 50vh;
}
/*----SLIDER CONTAINER -----*/
.slider-container {
  height: var(--Slider-container-height);
  width: var(--Slider-container-width);
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 550px;
  transform-style: preserve-3d;
}
/*----IMAGE CONTAINER -----*/

.slider-container .image-container {
  height: 85%;
  width: 85%;
  z-index: 4;
  position: relative;
}
.slider-container .image-container h4 {
  position: absolute;
  top: calc(var(--Slider-container-height) - 150px);
  left: 0;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  background-color: black;
  animation: H4Appear 0.5s ease-in;
  transition: all 0.5s ease;
}
.slider-container .image-container img,
.slider-container .leftimage img,
.slider-container .rightimage img {
  height: 100%;
  width: 100%;
  box-shadow: -1px -1px 13px -2px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: -1px -1px 13px -2px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -1px -1px 13px -2px rgba(0, 0, 0, 0.82);
}
.slider-container .transition {
  opacity: 1;
  transition: all 0.5s ease-in;
  animation: Appear 1s ease-in;
}
/*-------LEFT IMAGE------*/
.slider-container .leftimage {
  height: 85%;
  width: 85%;
  position: absolute;
  top: 19px;
  left: -250px;
  z-index: 3;
  transform: translateZ(-2rem);
}
/*------RIGHT IMAGE------*/
.slider-container .rightimage {
  height: 85%;
  width: 85%;
  position: absolute;
  top: 19px;
  right: -250px;
  z-index: 3;
  transform: translateZ(-2rem);
}
.slider-container .leftimage:hover,
.slider-container .rightimage:hover {
  cursor: pointer;
}
/*--------ARRROWS---------*/
.slider-container .goRight {
  position: absolute;
  top: calc(var(--Slider-container-height) / 2);
  right: calc(100% - var(--Slider-container-width) + 10%);
  font-size: 30px;
  z-index: 6;
}
.slider-container .goLeft {
  position: absolute;
  top: calc(var(--Slider-container-height) / 2);
  left: calc(100% - var(--Slider-container-width) + 10%);
  font-size: 30px;
  z-index: 6;
}
.slider-container .goRight:hover,
.slider-container .goLeft:hover {
  cursor: pointer;
}
.slider-container .goRight,
.slider-container .goLeft {
  color: rgb(248, 238, 219);
}
/*------SPAN INDICATORS-------*/
.slider-container .indicator {
  display: inline-block;
  height: 1vh;
  width: 1vw;
  background-color: #b3abab;
  border-radius: 20px;
  margin: 2px;
  transform: translate(50%, 50%);
}
.slider-container .active {
  background-color: #4f4f4f;
}
/*---------MEDIA QUERYS------------*/
@media (min-width: 300px) and (max-width: 576px) {
  .slider-container .leftimage,
  .slider-container .rightimage {
    display: none;
  }
  .slider-container {
    width: 100%;
  }
  .slider-container .goLeft {
    left: 34px;
  }
  .slider-container .goRight {
    right: 34px;
  }
  .slider-container .image-container h4 {
    font-size: 14px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .slider-container .leftimage,
  .slider-container .rightimage {
    display: none;
  }
  .slider-container .goRight {
    right: calc(100% - var(--Slider-container-width) - 2vw);
  }
  .slider-container .goLeft {
    left: calc(100% - var(--Slider-container-width) - 2vw);
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 1200px) {
  .slider-container .goRight {
    right: calc(100% - var(--Slider-container-width) - 0.5vw);
  }
  .slider-container .goLeft {
    left: calc(100% - var(--Slider-container-width) - 0.5vw);
  }
}

/*-------ANIMATION------*/
@keyframes GoRight-RightImage {
  from {
    transform: translateZ(-2rem);
  }
  to {
    transform: translateZ(2rem);
    transform: translateX(-300px);
    z-index: 100;
  }
}

@keyframes GoRight-MiddleImage {
  to {
    transform: translateZ(-2rem);
    transform: translateX(-300px);
    z-index: 100;
  }
}

@keyframes GoRight-LeftImage {
  to {
    transform: translateX(600px);
  }
}

@keyframes Appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes H4Appear {
  0% {
    opacity: 0;
    top: calc(var(--Slider-container-height));
  }
  25% {
    opacity: 0;
    top: calc(var(--Slider-container-height) - 70px);
  }
  50% {
    opacity: 0.5;
    top: calc(var(--Slider-container-height) - 100px);
  }
  100% {
    opacity: 1;
    top: calc(var(--Slider-container-height) - 150px);
  }
}
